* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"),
    url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.header {
  width: 1100px;
  height: 293px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__menu {
  display: flex;
  gap: 30px;
  list-style: circle;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}

.no-bullit {
  list-style: none;
}

.header__logo-link {
  justify-self: center;
  display: block;
}

.header__logo {
  width: 148px;
  height: 105px;
  display: block;
}

.header__address {
  max-width: 240px;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  justify-self: end;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-style: normal;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 165px 50px 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__content {
  position: relative;
  z-index: 2;
  max-width: 1440px;
  width: 100%;
  text-align: center;
}

.cover__title {
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 30px;
  line-height: 1.15;
  margin-bottom: 135px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  color: #fff;
}

.aligned-text {
  display: block;
}
.aligned-text_left {
  text-align: left;
  margin-left: 50px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: end;
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.27;
  text-align: left;
  word-spacing: 18px;
  letter-spacing: 0;
  color: #fff;
}

.bet-button {
  display: inline-block;
  padding: 12px 32px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.lots {
  padding: 180px 50px 0;
  max-width: 1440px;
  margin: auto;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  color: #000;
}

.lots__card-list,
.footer__menu-list,
.footer__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: 334px;
  height: 596px;
  flex-grow: 1;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.card__title,
.card__text {
  position: relative;
  z-index: 2;
}

.card-type-film {
  background-image: url("../images/card-lot-01.jpg");
}

.card-type-book {
  background-image: url("../images/card-lot-02.jpg");
}

.card-type-picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
  margin: 0;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  margin: 0;
}

.lots__look-more-link {
  display: block;
  margin-left: 40px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
  width: fit-content;
}

.about {
  padding: 180px 50px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.about__column {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  margin: 100px 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  color: #000;
}

.footer {
  background: white;
  padding: 180px 50px 90px;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 40px;
  align-items: start;
}

.footer__address {
  text-align: left;
  font-size: 18px;
  line-height: 1.35;
  justify-self: start;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.footer__address a {
  color: #000;
  text-decoration: underline;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__menu-link {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #000;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}

.footer__social-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
